h1 {
font-family: Helvetica;
font-size: 100px;
font-weight: bold;
color: khaki;
text-align: center;
background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}

h2.one {
font-family: Helvetica;
font-size: 32px; 
font-weight: bold;
color:white;
background-color: mediumspringgreen;
}

strong {
  font-family: Helvetica;
  color: blue;
  font-weight: bold;
}
 
h2.two {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: lightcoral;
  
}

h2.tree {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: skyblue;
}